target/
.idea
.DS_Store
out
livy-demo/target/
algorithm/target/
*.iml
*.log
*.txt
exe.sh
#### Test ###
Test/target/
#### common ###
common/target
common/datastructrue/target/
common/desiginpattern/target/
common/mulityThread/target/

### jvm
jvm-book/target
### spark ####

spark/akka/target

### kafka

kafka/target/

### zookeeper
zookeeper/target/

### NIO & Netty
netty/target/

### Java8-tutorial
java8/target

### Thrift
thrift/target

### hazelcast
hazelcast/target
