<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <layout class="org.apache.log4j.PatternLayout">

        </layout>
    </appender>

    <logger name="Testappender" additivity="false">
        <level value="debug" />
        <appender-ref ref="file" />
    </logger>

</log4j:configuration>
